
@font-face {
  font-family: 'Josefin Sans';
  src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');

}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
.flex-article {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 236, 236);
}
.flex-article div p{
    color:  #472813;
    text-align: left;
    font-family: 'OpenSans';
    word-spacing: 2px;
    line-height: 1.8em;
}

.flex-article-left-margin{
    margin-left: 100px;
    margin-right: 20px;
  }
  .flex-article-right-margin{
    margin-right: 100px;
    margin-left: 20px;
  }
.flex-article-center{
    justify-content: center;
    align-items: center;
}
.flex-article-center h2{
    text-align: center;
    font-size: 30px;
    margin: 100px;
    color:  #472813;
  }
  .flex-article-bottom{
    background-color: rgb(238, 236, 236);
    padding-bottom: 100px;
  }
.flex-article > div {
    text-align: center;
    width: 50%;
}
.flex-article div h2{
  color:  #472813;
    text-align: left;
    font-size: 30px;
    margin-bottom: 50px;
}


@media (max-width: 480px) {

  .flex-article {
      flex-direction: column;
    }
    .flex-article-center h2{
      text-align: center;
      font-size: 25px;
      margin: 20px;
    }
    .flex-article-left-margin{
      text-align: center;
      margin:10px;
    }
    .flex-article-right-margin{
      text-align: center;
      margin:10px;
    }
    .flex-article div h2{
      text-align: center;
        font-size: 25px;
        margin:10px;
    }
    .flex-article div p{
      text-align: center;
    }
    .flex-article > div {
      width: 80%;
    }
    .flex-article-bottom{
      padding-bottom: 20px;
    }
}