.flex-contents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .flex-contents div p{
    color:  #472813;
    text-align: left;
  }
  .flex-contents-center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  .flex-contents-center-gray{
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgb(238, 236, 236);
  }
  .flex-contents-center h2{
    color:  #472813;
    text-align: center;
    font-size: 30px;
    margin: 100px;
  }
  .flex-contents div h2{
    color:  #472813;
    text-align: left;
    font-size: 30px;
    margin-bottom: 50px;
  }
  .flex-contents > div {
    text-align: center;
    width: 50%;
    margin-top: 100px;
  }
  .flex-contents-left-margin{
    margin-left: 100px;
    margin-right: 20px;
  }
  .flex-contents-right-margin{
    margin-right: 100px;
    margin-left: 20px;
  }


  @media (max-width: 480px) {
    .flex-contents {
      flex-direction: column;
    }
    .flex-contents-right-margin{
      margin:0%;

    }
    .flex-contents-left-margin{
      margin:0%;

    }
    .flex-contents > div {
      text-align: center;
      width: 80%;
      margin-top: 0px;
    }
    .flex-contents div p{
      text-align: center;
    }
    .flex-contents div h2{
      text-align: center;
      font-size: 25px;
      margin-bottom: 10px;
    }
    .flex-contents-center h2{
      font-size: 25px;
      margin: 10px;
    }
  }