@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
 
}
.container-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .gradient-overlay{
    width:100%; 
    object-fit: contain;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),url("./assets/images/hero_bg.png");
    min-height:650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gradient-overlay h1{
    font-family: 'Josefin Sans';
    text-align: center;
  
    font-weight:bold;
    font-size: 4em;
    padding-top: 15%;
    color: #965323;
  }
  
  .gradient-overlay p{
    color: #C6BB83;
  }