@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
  
  }
  @font-face {
    font-family: 'OpenSans';
    src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  }

.flex-footer {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    background-color: rgb(214, 216, 219);
    padding-top: 100px;
}

.flex-credits{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(214, 216, 219);
    padding-top: 100px;
    padding-bottom: 20px;
    text-align: center !important;
    align-content: center;
}
.flex-credits p{
    font-family: 'OpenSans';
    text-align: center !important;
    font-size: 16px;
    margin-left: 38%;
}

.flex-footer .left {
    font-family: 'OpenSans';
    background-color: rgb(214, 216, 219);
    text-align: left;
    width: 30%;
    margin:50px;
}

.flex-footer .mid {
    font-family: 'OpenSans';
    background-color: rgb(214, 216, 219);
    text-align: center;
    width: 15%;
}
.flex-footer .right {
    font-family: 'OpenSans';
    background-color: rgb(214, 216, 219);
    text-align: center;
    width: 28%;
  
}

.flex-footer .right p{
   font-size: 16px;
  
}
.flex-footer div h3{
    font-family: 'Josefin Sans';
    text-align: center;
}
.flex-footer div p{
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-align: center;
}

.email{
    font-family: 'Josefin Sans';
    padding: 4px 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f0eded;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    width: 100%;
}

.btn-minimal{
   background-color: #ececec;
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

@media (max-width: 480px) {
    .flex-footer {
      flex-direction: column;
      padding-top: 10px;
      margin: 20px;
    }
    .flex-footer .right {
        font-family: 'OpenSans';
        text-align: center;
    }
    .flex-credits{
        flex-direction: column;
    }

    .flex-footer .left {

        text-align: center;
        width: 100%;
        margin:0px;
    }
    
    .flex-footer .mid {

        text-align: center;
        width: 100%;
    }
    .flex-footer .right {
        text-align: center;
        width: 100%;
      
    }
    .flex-footer .left h2{
        font-size: 20px;
       
    }
    
    .flex-footer .mid h2{

        font-size: 20px;
    }
    .flex-footer .right h2{
        font-size: 20px;
      
    }

    .flex-footer .left p{
        font-size: 16px;
       
    }
    
    .flex-footer .mid p{

        font-size: 16px;
    }
    .flex-footer .right p{
        font-size: 16px;
      
    }

    .email{
      
        width: 80%;
    }
    .flex-credits{

        padding:10px;
    }
    .flex-credits p{
      
        margin-left: 0%;
    }
    
  }