@font-face {
    font-family: 'Josefin Sans';
    src: url('./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
 
}
@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
.button {
  margin: 0px 50px 50px 0px;
  text-decoration: none;
  font-size: 20px;
  padding: 10px;
}
.btn-main{
  font-family: 'Josefin Sans';
  background-color: #965323;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
}
.button-round {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.btn-round {
  background-color: rgb(221, 218, 218); 
  color: #965323;
  
  border: 1px solid #965323;
  border-radius: 20px;
}
.btn-round-light {
  background-color: #ffffff;
  color: #965323;
  border: 1px solid #965323;
  border-radius: 20px;
}
.btn-round-light:hover {
  background-color: #edf7b8;
  color: #965323;
  border: 1px solid #965323;
}

.btn-round:hover {
  background-color: #edf7b8;
  color: #965323;
  border: 1px solid #965323;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  font-size: 25px;
  text-align: center;
}
h2, h3, h4, p{
  font-family: 'Josefin Sans';
}
.gray-color{
  background-color: rgb(238, 236, 236);
}
.rounded-img{
  border-radius: 20px;
}
.middle-text{
  padding:30px;
  line-height:20px;
}

@media (max-width: 480px) {
  .middle-text{
    padding:0%;
    line-height:20px;
  }
  p{
    font-size: 16px;
    text-align: center;
  }
  .button {
    margin: 10px;
    text-decoration: none;
    font-size: 16px;
    width: 80%;
  }
}